include navbar-mixin
include button-mixin
include modal-mixin
include invoice-mixin

doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/dist/font-awesome/css/font-awesome.min.css')
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css")

    block styles
  body
    .container
      block navigation
        +navbar("default")
          +nav_brand("LimitBreaker", "navbar", "./")
          +navbar_section("navbar")
            +navbar_list_left
              +nav_item("#", "active") Home
              +nav_item("./api/v1/stock") Inventory
              +nav_item("./api/v1/orders") Orders
              +nav_item_dropdown("#")(label="Custom Apparel ")
                +nav_item_dropdown_item("#")(label="Racerbacks")
                +nav_item_dropdown_item("#")(label="Long Sleeves")
                +nav_item_dropdown_item("#")(label="Jackets")
                +nav_dropdown_divider
                +nav_dropdown_header Accessories
                +nav_item_dropdown_item("#")(label="Hats")
                +nav_item_dropdown_item("#")(label="Bands")
            +navbar_list_right
              +nav_item("./", "active") Info
              +nav_item("./") More Stuff
              +nav_item("./") Even More

      block header
        .jumbotron
          h1 LB Preview
      block content
        p Body contents.

    block foot
      .footer
        .container
            span.text-muted LimitBreaker @2018

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    //- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="/dist/jquery/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="/dist/js/bootstrap.min.js")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")
    //- script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js")

    block scripts