doctype html
html
  head
    title= title
    block scripts
      link(href='/stylesheets/style.css', rel='stylesheet')
      link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", rel="stylesheet", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
  body
    .container
      .navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') LimitBreaker
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Link
              li
                a(href='#') Link
              li
                a(href='#') Link
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Dropdown 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li.dropdown-header Nav header
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='./') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
      block header
        .jumbotron
          h1 LB Preview
      block content
        p Body contents.
      block foot
        #footer
          p Footer Contents. @2018

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")