//- Declaration (modal-mixins.pug)

mixin modal_dialog(id)
  .modal.fade(id=id, tabindex="-1", role="dialog", aria-labelledby=id+"Label", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        block

mixin modal_dialog_header(id, title)
  .modal-header
    h5.modal-title(id=id+"Label")= title
    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
      span(aria-hidden="true") &times;

mixin modal_dialog_body
  .modal-body
    block

mixin modal_dialog_footer(id, text, url)
  .modal-footer
    button(class=["btn", "btn-secondary"], data-dismiss="modal") Close
    button(id=id, class=["btn", "btn-primary"], role="button")=text
    block