extends layout.pug

block navigation
  +navbar("default")
    +nav_brand("LimitBreaker", "navbar", "./../..")
    +navbar_section("navbar")
      +navbar_list_left
        +nav_item("./../..") Home
        +nav_item("./stock") Inventory
        +nav_item("./orders", "active") Orders
          +nav_item_dropdown("#")(label="Custom Apparel ")
            +nav_item_dropdown_item("#")(label="Racerbacks")
            +nav_item_dropdown_item("#")(label="Long Sleeves")
            +nav_item_dropdown_item("#")(label="Jackets")
            +nav_dropdown_divider
            +nav_dropdown_header Accessories
            +nav_item_dropdown_item("#")(label="Hats")
            +nav_item_dropdown_item("#")(label="Bands")
      +navbar_list_right
        +nav_item("./", "active") Info
        +nav_item("./") More Stuff
        +nav_item("./") Even More

block content
  .container
    h3= title

    div(id="statuses")

    p
      button.btn.btn-success(href='#', type='button') Add
	
    table.table.table-hover(id="tOrder", class="display", style="width:100%")
      thead
        tr
          th Order ID
          th Client Name
          th Order Status
      tbody
        for res in results
          tr
            td= res.orderId
            td= res.clientName
            td= res.orderStatus