extends layout.pug

block navigation
  +navbar("default")
    +nav_brand("LimitBreaker", "navbar", "./../..")
    +navbar_section("navbar")
      +navbar_list_left
        +nav_item("./../..") Home
        +nav_item("./stock", "active") Inventory
        +nav_item("./orders") Orders
          +nav_item_dropdown("#")(label="Custom Apparel ")
            +nav_item_dropdown_item("#")(label="Racerbacks")
            +nav_item_dropdown_item("#")(label="Long Sleeves")
            +nav_item_dropdown_item("#")(label="Jackets")
            +nav_dropdown_divider
            +nav_dropdown_header Accessories
            +nav_item_dropdown_item("#")(label="Hats")
            +nav_item_dropdown_item("#")(label="Bands")
      +navbar_list_right
        +nav_item("./", "active") Info
        +nav_item("./") More Stuff
        +nav_item("./") Even More

block content
  .container
    h3= title
    p
      //- Opens modal with ID 'addStockModal'
      +m-btn("addStockModal", "success") Add
      | 
      button.btn.btn-warning(href='#', type='button') Edit

    +modal_dialog("addStockModal")
      +modal_dialog_header("addStockModal", "Add New Inventory Item")
      +modal_dialog_body
        form.form-group
          label(for="itemName", class="col-form-label") Item Name:
          input(type="text", class="form-control", id="itemName")
          label(for="itemCount", class="col-form-label") Count:
          input(type="number", class="form-control", id="itemCount")
      +modal_dialog_footer("btnAdd", "Add", "#")

    div(id="modalResults")

    table.table.table-hover
      thead
        tr
          th Item
          th Count
      tbody
        for res in results
          tr
            td= res.item
            td= res.count

block scripts
  script(type='text/javascript').
    $(document).ready(function(){
      function ResetModal() {
        $('#itemName').val('');
        $('#itemCount').val('');
      };

      function AddItem() {
        var data =  {
          item  : $('#itemName').val(),
          count : $('#itemCount').val()
        }
        
        $.ajax({
          type: "POST",
          contentType: "application/json",
          url: "/api/v1/stock/add",
          data: JSON.stringify(data),
          datatype: 'json',
          success: function(ret) {
            $('#modalResults').html("<p>Post Successfully! <br>--->" + JSON.stringify(ret)+ "</p>"); 
          },
          error: function(e) {
            alert("Error!")
            console.log("ERROR: ", e);
          }
        })
      };

      $('#addStockModal').on('hidden.bs.modal', function() {
        ResetModal();
      });

      $('#btnAdd').click(function(event) {
        $('#modalResults').html("<p>Item: " + $('#itemName').val() + ". Count: " + $('#itemCount').val() +"</p>" );
        AddItem();
        $('#addStockModal').modal('hide');
      });
    })