extends layout.pug

block styles
  link(rel='stylesheet', href='/DataTables/datatables.min.css')

block navigation
  +navbar("default")
    +nav_brand("LimitBreaker", "navbar", "./../..")
    +navbar_section("navbar")
      +navbar_list_left
        +nav_item("./") Home
        +nav_item("./inquiry") Order Inquiry
        +nav_item("#") Clients
        +nav_item("./stock", "active") Inventory
        +nav_item("./orders") Orders
          +nav_item_dropdown("#")(label="Custom Apparel ")
            +nav_item_dropdown_item("#")(label="Racerbacks")
            +nav_item_dropdown_item("#")(label="Long Sleeves")
            +nav_item_dropdown_item("#")(label="Jackets")
            +nav_dropdown_divider
            +nav_dropdown_header Accessories
            +nav_item_dropdown_item("#")(label="Hats")
            +nav_item_dropdown_item("#")(label="Bands")
      +navbar_list_right
        +nav_item("./", "active") Info
        +nav_item("./") More Stuff
        +nav_item("./") Even More

block content
  .container
    h3= title

    div(id="statuses")

    table.table.table-hover(id="tClients", class="display", style="width:100%")

    //- Space so table doesn't run into footer.
    div
      p

block scripts
  script(type="text/javascript", src="/javascripts/clients.js")
  script(type="text/javascript", src="/DataTables/datatables.min.js")